<main class="container-fluid p-0">
   <nav class="">
      <div class="cls-sidebar-btn my-3 mx-3">
         <a (click)="toggleSideBar()" class="btn btn-primary rounded-circle ">
            <i class="bi bi-list p-0"></i>
         </a>
      </div>
      <div div class="cls-navbar">
         <app-user-navbar></app-user-navbar>
      </div>
   </nav>

   <section class="cls-body-container d-flex flex-row">

      <div class="cls-sidebar-app" [ngClass]="{'cls-animate-sidebar-open': openSideBar}">
         <app-user-sidebar></app-user-sidebar>
      </div>

      <div class="cls-body-app-sb-open container-fluid" [ngClass]="{'cls-body-app': !openSideBar}">
         <router-outlet></router-outlet>
      </div>
   </section>

   <footer class="cls-footer">
      <app-user-footer></app-user-footer>
   </footer>
</main>