@import "~bootstrap-icons/font/bootstrap-icons.css";

.cls-logo {
    width: 30px;
    height: 30px;
}

.cls-footer {
    bottom: 0;
    width: 100%;
    width: 100%;
    z-index: 1;
}

.cls-body-app {
    width: 100%;
}

.cls-body-app-sidebar-open {
    width: calc(100% - 350px);
}

.cls-sidebar-app {
    width: 350px;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.cls-animate-sidebar-open {
    animation: cls-ani 0.3s linear forwards;
    -webkit-animation: cls-ani 0.3s linear forwards;
}

.cls-body-app-sb-close {
    width: 100%;
}

.cls-hidden {
    display: none !important;
}

@-webkit-keyframes cls-ani {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes cls-ani {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.cls-sidebar-btn {
    position: absolute;
    z-index: 9999;

    .cls-btn {
        background: transparent;
        border: none;
        color: #f25244;
    }
}
