<main class="m-5 pt-1">

    <section class="my-5 mt-5 row justify-content-md-left" [formGroup]="formAsignaturas">
        <header class="col-10">
            <h1 class="h1">Administrador de Asignaturas</h1>
        </header>
        <div class="col-2 justify-content-center">
            <button type="button"
                class="btn btn-block cls-btnAgregar rounded-pill shadow-sm"
                (click)="crear()">
                <i class="h2 bi bi-plus-square"></i>
            </button>
        </div>
    </section>

    <section class="mb-5">
        <form [formGroup]="formAsignaturas">
            <div class="row register-form">

                <div class="col-md-6">
                    <div class="form-group py-1">
                        <input type="text" class="form-control rounded-pill" formControlName="nombreAsignatura"
                            placeholder="Nombre Asignatura" required />
                    </div>
                    <div class="form-group py-1">
                        <input type="text" class="form-control rounded-pill" formControlName="cantidadCreditos"
                            placeholder="Créditos" required />
                    </div>
                    <div class="form-group py-1">
                        <select class="form-select rounded-pill" placeholder="Componente" required
                            formControlName="componente">
                            <option value="" disabled selected hidden>Componente</option>
                            <option value="Específico">Específico</option>
                            <option value="Flexible Complementario">Flexible Complementario</option>
                            <option value="Investigativo">Investigativo</option>
                            <option value="Institucional">Institucional</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group py-1">
                        <input type="text" class="form-control rounded-pill" formControlName="codigoAsignatura"
                            placeholder="Código Asignatura" required />
                    </div>
                    <div class="form-group py-1">
                        <select class="form-select rounded-pill" required placeholder="Programa Acádemico"
                            formControlName="programaAcademicoId">
                            <option value="" disabled selected hidden>Programa Acádemico</option>
                            <option *ngFor="let p of listaProgramas" value="{{p.id}}">
                                {{p.nombrePrograma}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group py-1">
                        <input readonly type="text" class="form-control rounded-pill" formControlName="fechaCreacion"
                            placeholder="Fecha Creación"/>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center py-3">
                <button *ngIf="modoCrud == 'crear'" (click)="postAsignaturas()"
                    class="btn btn-outline-success rounded-pill mx-1 cls-button-1">
                    Registrar Programa
                </button>
                <button *ngIf="modoCrud == 'actualizar'" (click)="patchAsignaturas()"
                    class="btn btn-outline-success rounded-pill mx-1 cls-button-1">
                    Editar Programa
                </button>
                <button (click)="limpiarFormulario()"
                    class="btn btn-outline-danger rounded-pill mx-1 cls-button-1">
                    Limpiar
                </button>
            </div>
        </form>
    </section>

    <section class="m-0 p-0">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table-responsive row-fluid hover display">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Componente</th>
                    <th>Créditos</th>
                    <th>Programa Académico</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let a of listaAsignaturas">
                    <td scope="col" >{{a.nombreAsignatura}}</td>
                    <td scope="col" >{{a.codigoAsignatura}}</td>
                    <td scope="col" >{{a.componente}}</td>
                    <td scope="col" >{{a.cantidadCreditos}}</td>
                    <td scope="col" >{{a.programaAcademicoId}}</td>
                    <td scope="col" class="text-center">
                        <a type="button" class="mx-1 text-warning"
                            (click)="actualizar(a)">
                            <i class="h4 bi bi-pencil-square"></i>
                        </a>
                        <a type="button" class="mx-1 text-danger"
                            (click)="deleteAsignaturas(a)">
                            <i class="h4 bi bi-trash"></i>
                        </a>
                        <a type="button" class="mx-1 text-info">
                            <i class="h4 bi bi-book"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</main>