
Diagramas/Diagrama de Casos de Uso - General.png
Diagramas/Diagrama de Casos de Uso - Perfil Docente.drawio.png
Diagramas/Diagrama de Casos de Uso - Registro Asignaturas.drawio.png
Diagramas/Diagrama de Casos de Uso - Perfil Estudiante.drawio.png
Diagramas/Diagrama de Casos de Uso - Registro Grupos.drawio.png
Diagramas/Diagrama de Casos de Uso - Registro Programas Académicos.drawio.png
Diagramas/Diagrama de Casos de Uso - Registro Usuario.drawio.png
Diagramas/Diagrama de Casos de Uso - Registro y Notificacion de Calificaciones.drawio.png
Diagramas/Diagrama de Entidades.png
Diagramas/Diagramade Casos de Uso - Emision de Consulta de Calificaciones.png
Diagramas/Diagramade Casos de Uso - Perfil Administrador.drawio.png
frontend-edufree/node_modules
