<main class=" m-5 pt-1">

    <section class="my-5 mt-5 row justify-content-md-left">
        <header class="col-10">
            <h1 class="h1">Calificaciones</h1>
        </header>

        <div class="col-2 justify-content-center">
            <button type="button" class="btn btn-block cls-btnAgregar rounded-pill shadow-sm" 
            (click)="toggleIsFormVisible()">
                <i class="h3 bi bi-person-plus-fill"></i></button>
        </div>
    </section>

    <section class="m-0 p-0 container-sm" >
        <table class="table table-responsive-md table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Nombres</th>
                    <th class="text-center">Apellidos</th>
                    <th class="text-center">Identificacion</th>
                    <th class="text-center">Calificacion</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Juan</td>
                    <td>Perez</td>
                    <td>121515455</td>
                    <td>
                        <input class="form-control rounded-pill" type="number">
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="isFormVisible"></div>
    </section>

    <section  class="m-0 p-0 container-sm">
        <table class="table table-responsive-md table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Nombres</th>
                    <th class="text-center">Apellidos</th>
                    <th class="text-center">Identificacion</th>
                    <th class="text-center">Calificacion</th>
                </tr>
            </thead>
    
            <tbody>
                <tr>
                    <td>Juan</td>
                    <td>Perez</td>
                    <td>121515455</td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </section>

</main>