<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
   <div class="container px-1">
      <a class="navbar-brand" routerLink="">
         <img src="../assets/images/logo.png" alt="" class="cls-logo">
         Universitaria EduFree
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
         aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ms-auto">
            <li class="nav-item">
               <a class="nav-link" routerLink="/programas-ofertados" routerLinkActive="active">Programas
                  Ofertados</a>
            </li>
            <li class="nav-item">
               <a class="nav-link " routerLink="/inscripciones" routerLinkActive="active">Inscripciones</a>
            </li>
            <li class="nav-item">
               <a class="nav-link " routerLink="/login" routerLinkActive="active">
                  Login
                  <i class="bi bi-box-arrow-in-right"></i>
               </a>
            </li>
         </ul>
      </div>
   </div>
</nav>

<!-- Scripts -->