<main class="container-fluid p-5">
    <header class="container-fluid header m-0">
        <h1 class="text-center h1">Administrador de usuarios</h1>
    </header>

    <section class="d-flex flex-row justify-content-center py-2">
        <button type="button" class="btn cls-btnAgregar btn-default me-3 rounded-pill"><i class="bi bi-person-plus-fill"></i></button>
        <select class="custom-select cls-select p-1 rounded-pill" id="inputGroupSelect01">
            <option class="hidden" selected disabled>Elige el Rol ... </option>
            <option *ngFor="let i of listaRoles" value="{{i.nombrePerfil}}">{{i.nombrePerfil}}</option>
        </select>
    </section>

    <section class="mb-5">
        <form [formGroup]="formUsuario">
            <div class="row register-form" [formGroup]="formUsuario">
                <div class="col-md-6">
                    <div class="form-group py-1">
                        <input type="text" class="form-control rounded-pill" placeholder="Nombres" value=""
                            formControlName="nombresUsuario" />

                    </div>
                    <div class="form-group py-1">
                        <input type="text" class="form-control rounded-pill" placeholder="Correo Electrónico" value=""
                            formControlName="correoElectronico" />
                    </div>

                    <div class="form-group py-1">
                        <select class="form-select rounded-pill" placeholder="Tipo Identificacion"
                            formControlName="tipoIdentificacion">
                            <option class="hidden" selected disabled>Tipo Identificacion</option>
                            <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                            <option value="Cedula de Ciudadania">Cedula de Ciudadania</option>
                            <option value="Cedula de Extranjeria">Cedula de Extranjeria</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Numero de Identificacion Personal">Numero de Identificacion Personal</option>
                        </select>

                    </div>
                    <div class="form-group py-1">

                        <select class="form-select rounded-pill" placeholder="Por favor selecciona el Programa Acádemico" formControlName="programaAcademicoId">
                            <option class="hidden" selected disabled>Selecciona el Programa Acádemico</option>
                            <option *ngFor="let i of listaProgramas" value="{{i.nombrePrograma}}">{{i.nombrePrograma}}</option>
                        </select>


                    </div>
                    <select class="form-select rounded-pill" id="inputGroupSelect01">
                        <option class="hidden" selected disabled>Elige el Rol ... </option>
                        <option *ngFor="let i of listaRoles" value="{{i.nombrePerfil}}">{{i.nombrePerfil}}</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <div class="form-group py-1">
                        <input type="email" class="form-control rounded-pill" placeholder="Apellidos"
                            formControlName="apellidosUsuario" />
                    </div>
                    <div class="form-group py-1">
                        <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control rounded-pill"
                            placeholder="Teléfono" value="" formControlName="telefono" />
                    </div>
                    <div class="form-group py-1">
                        <input type="text" class="form-control rounded-pill" placeholder="Numero Identificacion" value=""
                            formControlName="noIdentificacion" />
                    </div>
                    <div class="form-group py-1">
                        <input type="text" class="form-control rounded-pill" placeholder="Usuario" value=""
                            formControlName="usuario" />
                    </div>
                    <div class="form-group py-1">
                        <input type="password" class="form-control rounded-pill" placeholder="Contraseña" value=""
                            formControlName="contrasenia" />
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center py-3">
                <button type="submit" class="btn btn-outline-success rounded-pill mx-1 cls-button-1" value="Registrar Usuario"
                    (click)="crearUsuario()">Registrar
                    Usuario</button>
                    <button type="submit" class="btn btn-outline-danger rounded-pill mx-1 cls-button-1" value="Registrar Usuario"
                        >Limpiar</button>
            </div>
        </form>
    </section>

    <section class="m-0 p-0">
        <table class="table table-responsive table-hover table-sm">

            <thead class="">
                <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">Numero Identificacion</th>
                    <th scope="col">Tipo Identificacion</th>
                    <th scope="col">Programa Acádemico</th>
                    <!-- <th scope="col">Usuario</th>
                    <th scope="col">Contraseña</th> -->
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let list of listaUsuarios">
                    <td> {{list.nombresUsuario}} </td>
                    <td> {{list.apellidosUsuario}} </td>
                    <td> {{list.correoElectronico}} </td>
                    <td> {{list.noIdentificacion}} </td>
                    <td> {{list.tipoIdentificacion}} </td>
                    <td> {{list.programaAcademicoId}} </td>
                    <!-- <td> {{list.usuario}} </td>
                    <td> {{list.contrasenia}} </td> -->
                    <td>
                        <a type="button" class="btn btn-outline-dark me-1 rounded-pill"><i class="bi bi-pencil-square "></i></a>
                        <a type="button" class="btn btn-outline-danger me-1 rounded-pill"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>

            </tbody>

        </table>
    </section>

</main>