<main class=" m-5 pt-1">

    <section class="my-5 mt-5 row justify-content-md-left">
        <header class="col-10">
            <h1 class="h1">Asignacion de Estudiantes a Grupos</h1>
        </header>
        <div class="col-2 justify-content-center">
            <button type="button" class="btn btn-block cls-btnAgregar rounded-pill shadow-sm" (click)="crear()">
                <i class="h3 bi bi-person-plus-fill"></i></button>
        </div>
    </section>

    <section class="mb-5">
        <form [formGroup]="formEstudiantesPorGrupo">
            <div class="row register-form">
                <div class="col-md-6">
                    <div class="form-group py-1">
                        <select formControlName="usuarioId" placeholder="Seleccione un Estudiante"
                            class="form-control form-select rounded-pill">
                            <option value="" disabled selected hidden>Estudiante</option>
                            <option *ngFor="let e of listaEstudiantes" value="{{e.id}}">
                                {{e.noIdentificacion}} - {{e.apellidosUsuario}} {{e.nombresUsuario}}
                                [{{e.rol}}]
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group py-1">
                        <select formControlName="usuarioId" placeholder="Seleccione unGrupo"
                            class="form-control form-select rounded-pill">
                            <option value="" disabled selected hidden>Grupo</option>
                            <option *ngFor="let g of listaGrupos" value="{{g.id}}">
                                {{g.codigoGrupo}} - {{g.asignatura.nombreAsignatura}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center py-3">
                <button *ngIf="modoCrud == 'crear'" (click)="postEstudiantesPorGrupo()"
                    class="btn btn-outline-success rounded-pill mx-1 cls-button-1">
                    Registrar Asignación
                </button>
                <button *ngIf="modoCrud == 'actualizar'" (click)="patchEstudiantesPorGrupo()"
                    class="btn btn-outline-success rounded-pill mx-1 cls-button-1">
                    Editar Asignación
                </button>
                <button (click)="limpiarFormulario()" class="btn btn-outline-danger rounded-pill mx-1 cls-button-1">
                    Limpiar
                </button>
            </div>
        </form>
    </section>

    <section class="m-0 p-0 table-responsive-md">
        <table class="table table-bordered cls-table">
            <thead>
                <tr>
                    <th scope="col" class="text-center col-md">#</th>
                    <th scope="col" class="text-center col-md-4">Estudiante</th>
                    <th scope="col" class="text-center col-md-2">Grupo</th>
                    <th scope="col" class="text-center col-md-1">Acciones</th>
                </tr>
            </thead>

            <tbody *ngIf="listaEstudiantesporGrupo.length">
                <ng-container *ngFor="let eg of listaEstudiantesporGrupo; let i=index">
                    <tr>
                        <td scope="row" class="text-center col-md">{{i}}</td>
                        <td class="text-center col-md-4">
                            <ng-container *ngFor="let r of listaRelacion">
                                <span *ngIf="eg.usuarioId == r.id">
                                    {{r.noIdentificacion}} - {{r.apellidosUsuario}} {{r.nombresUsuario}}
                                    [{{r.rol}}]
                                </span>
                            </ng-container>
                        </td>
                        <td class="text-center col-md-4" *ngIf="listaEstudiantesporGrupo.length">
                            <ng-container *ngFor="let g of listaGrupos">
                                <span *ngIf="eg.grupoId == g.id">
                                    {{g.codigoGrupo}} - {{g.asignatura.nombreAsignatura}}
                                </span>
                            </ng-container>
                        </td>
                        <td class="text-center col-md-2">
                            <a type="button" class="mx-1 text-warning" (click)="actualizar(eg)">
                                <i class="h4 bi bi-pencil-square"></i>
                            </a>
                            <a type="button" class="mx-1 text-danger" (click)="deleteEstudiantesPorGrupo(eg)">
                                <i class="h4 bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </section>
</main>