<footer class="footer">
   <div class="container-fluid">
      <nav>
         <ul>
            <li>
               <a href="https://misiontic.ucaldas.edu.co/">
                  Mision TIC 2022
               </a>
            </li>
            <li>
               <a href="https://www.ucaldas.edu.co/portal/">
                  Universidad de Caldas
               </a>
            </li>
            <li>
               <a href="https://mintic.gov.co">
                  Ministerio de Tecnologías de la Información y Comunicaciones
               </a>
            </li>
         </ul>
      </nav>
      <div class="copyright">
         &copy;, Desarrollado por
         <a href="https://github.com/LorenaBtz/EduFree-Eq2" target="_blank">Grupo 26 - Equipo 2</a>.
      </div>
   </div>
</footer>