.cls-btnAgregar {
   background-color: #f29f05;
   color: #fff;
   cursor: pointer;
}

.btnAgregar:hover {
   background-color: #fff;
   color: #f29f05;
}

.cls-select {
   background-color: #ffffff;
   color: #f29f05;
   width: 20%;
   height: 40px;
}

.cls-button-1 {
   width: 20% !important;
}

