<main class="container-fixed cls-login m-0 p-0">

   <section class="vh-25 cls-bg-login">
      <div class="container py-5 h-100">
         <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
               <div class="card" style="border-radius: 1rem">
                  <div class="row g-0">
                     <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="../assets/images/login.jpg" alt="login form" class="img-fluid"
                           style="border-radius: 1rem 0 0 1rem; height: 721; width: 480" />
                     </div>
                     <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
                           <form [formGroup]="formLogin">
                              <h1 class="display-2 mb-3 pb-3" style="letter-spacing: 1px">
                                 Inicia Sesión
                              </h1>

                              <div class="form-outline mb-4">
                                 <input type="text" id="usuario" class="form-control form-control-lg"
                                    formControlName="usuario" placeholder="" />
                                 <label class="form-label" for="usuario">Usuario</label>
                              </div>

                              <div class="form-outline mb-4">
                                 <input type="password" id="contrasenia" class="form-control form-control-lg"
                                    formControlName="contrasenia" placeholder="**********" />
                                 <label class="form-label" for="contrasenia">Contraseña</label>
                              </div>
                              <a class="small text-muted" href="#!">¿Olvidó su Contraseña?</a>

                              <div class="pt-1 mb-4 d-grid gap-2 col-6 mx-auto m-5">
                                 <button class="btn btn-outline-success" type="button"
                                    [disabled]="!formLogin.valid"
                                    (click)="autenticacion()">
                                    Login
                                 </button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>